name: github pages

on:
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:

jobs:
  deploy:
    name: build-sphinx-doc
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0 # Nix Flakes doesn't work on shallow clones
      - name: Install Nix (flakes, nixpkgs-unstable)
        uses: cachix/install-nix-action@v13
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210429_d15a196/install
          extra_nix_config: |
            experimental-features = nix-command flakes
          nix_path: nixpkgs=channel:nixpkgs-unstable
      - name: Build Documentation
        run: nix-shell -p "python3.withPackages (ps":" with ps; [ jupyter-sphinx sphinx sphinx_rtd_theme nbformat nbconvert jupyter ])" -p "pandoc" --command "make html -C docs"
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build-target/html